ProductWidget > #product_icon {
    min-width: 35px;
    max-width: 35px;
    min-height: 35px;
    max-height: 35px;
}

/* TODO: Why does this only work after a stylesheet reload? */
QTextEdit {
    border-radius: 4px;
    /* https://forum.qt.io/post/306956 */
    background-color: palette(base);
}
