AlarmCard > AlarmPreview {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

AlarmCard[alert_active=true] > AlarmPreview {
    background: lightcoral;
}

AlarmCard[alert_active=true] > AlarmPreview > QLabel {
    color: white;
}

AlarmCard[alert_active=true] > AlarmPreview > QLabel {
    color: white;
}

AlarmCard[expanded=false] > AlarmPreview {
    border-radius: 4px;
}
